@import './base.css';

#app {
  /*max-width: 1280px;*/
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/*@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}*/

nav{
  margin-top: 0rem !important;
  padding-top: 0rem !important;
}

.blog-savior:hover{
  border: 1px solid rgb(120, 171, 168);
  background-color: rgba(255,255,255, 1);
  box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.16);
}

.blog-savior{
  transition: all 0.3s ease-in-out;
  background-color: rgba(250,250,250, 1);
  border: 1px solid rgba(143, 143, 143, 0.25);
  transition: all 0.3s ease-in-out;
  padding: 1.5rem;
  height: 16rem;
}

.description-technogoly b{
  font-weight: 600;
}

.title{
  font-size: 20px;
  line-height: 120%;
  color: rgba(41,41,41, 1);
  padding: 1rem 0;
  font-weight: 600;
}

.logos{
  flex-direction: inherit;
  display: flex;
}

.logo{
  margin-right: 0.4rem;
}

.logo img{
  height: 28px;
  width: 28px;
}

.view-porfolio{
  background: #78aba0 !important;
  padding: 0.8rem 1rem !important;
  display: block !important;
  text-align: center !important;
  border-radius: 20px !important;
  text-decoration: auto !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}

.btn-send{
  background: #78aba0 !important;
  padding: 0.8rem 1rem !important;
  text-align: center !important;
  border-radius: 20px !important;
  text-decoration: auto !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  border: 0px solid #78aba0 !important
}

.view-resume{
  background: rgba(41,41,41) !important;
  padding: 0.8rem 1rem !important;
  display: block !important;
  text-align: center !important;
  border-radius: 20px !important;
  text-decoration: auto !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  border: 0px !important;
  margin-left: 1rem;
}


.services{
  width: 48%;
  background: #78aba0;
  display: block;
  text-align: center;
  padding: 0.6rem 0rem;
  border-radius: 20px;
  text-decoration: auto;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.services span{
  font-weight: 600;
}

.what-i-do{
  font-size: 56px;
  line-height: 120%;
  font-weight: 600;
}

.title-line-upper{
  font-size: 56px;
  line-height: 120%;
  font-weight: 600;
  display: flex;
}

.section-header{
  border-bottom: 1px solid rgba(79,79,79, 0.08);
}

.section-header, .section-body{
  padding-left: 5rem;
  padding-bottom: 3rem;
}

.section-body{
  padding-top: 2rem;
}

.section-body-title .title-line{
  padding-left: 0.3rem;
}

.title-line-upper .text{
  padding-left: 0.2rem;
}

.stat{
  display: flex;
  flex-direction: row;
  margin-right: 0 !important;
  width: 22%;
}

.stat .block-numbers{
  color: rgba(120,171,168, 1);
  font-size: 72px;
  padding: 0;
  margin: 0;
  line-height: 120%;
  display: block;
  font-weight: 600;
  padding-top: 10px;
}

.block-text{
  padding: 1.6rem 1rem;
  color: rgb(41, 41, 41);
  font-size: 17px;
  line-height: 150%;
  width: 52%;
  padding-top: 2.5rem;
}

.who-am-i p{
  width: 77%;
  text-align: justify;
}

.title-line{
  width: 4px;
  height: 77px;
  background-color: rgba(120,171,168);
}

.card-project .card{
  border: 0px;
}

.card-project .skills{
  margin: 2rem auto 0.5rem auto;
}

.card-project .skill{
  padding: 0.4rem 1rem;
  border-radius: 18px;
  border: 1px solid rgb(143, 143, 143);
  margin-left: 0.4em;
  cursor: pointer;
}

.card-project .skill span{
  font-weight: 600;
}

.card-project .project-title span{
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  font-size: 20px;
}

.card-project .project-title{
  margin: 1rem auto 2.5rem 0.4rem;
}

.card-project .project-title a{
  color: black;
}

.card-project .project-title a:hover {
  background-color: inherit;
}

.card-project .project-title span:hover{
  text-decoration: none;
  outline: none;
  color: rgba(120,171,168)
}

.header-btn{
  display: flex;
}

.section-header h2{
  color: rgba(41,41,41, 1);
  font-weight: 400;
  font-size: 24px;
}

.fs-nine {
  font-size: 14px;
  line-height: 130%;
}

a {
  text-decoration: none !important;
  outline: none !important;
  transition: all 0.3s ease !important;
}

.n4-color {
  color: rgba(var(--n4), 1);
}

.h-400 {
  height: 400px;
}

@media (min-width: 768px) {
  .mt-md-15 {
    margin-top: 3.75rem !important;
  }
}

.pb-120 {
  padding-bottom: 120px;
}
.pt-120 {
  padding-top: 120px;
}

@media (min-width: 992px) {
  .mt-lg-0 {
    margin-top: 0 !important;
  }
}

.brn4 {
  border: 1px solid rgba(var(--n4), 0.08);
}

input, textarea {
  width: 100%;
  outline-color: transparent;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
}

.h-120 {
  height: 120px;
}

.w-100 {
  width: 100% !important;
}

textarea {
  resize: vertical;
}

@media (min-width: 768px) {
  .px-md-6 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

.d-flex {
  display: flex !important;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: rgba(var(--p1), 1);
}

.primary-btn {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.7s linear;
  background: rgba(var(--p1));
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  border-radius: 4px;
  letter-spacing: 0.5px;
}

.informations-project .list-group-item .name{
  color: rgba(var(--n4), 1);
  font-size: 16px;
  line-height: 130%;
  font-weight: 500 !important;
}

.informations-project .list-group-item .value a, .informations-project .list-group-item .value{
  color: rgba(var(--n5), 1) !important;
  font-size: 20px !important;
  line-height: 120% !important;
  font-weight: 700 !important;
}

.informations-project .list-group-item .value a:hover{
  color: rgba(var(--n5), 1) !important;
  font-size: 20px !important;
  line-height: 120% !important;
  font-weight: 700 !important;
  background-color: inherit;
}

.informations-project .list-group-item .name, .informations-project .list-group-item .value{
  display: block;
}

.text-justify{
  text-align: justify;
}

.resume-icon:hover{
  color: rgba(var(--n5), 1) !important;
  font-size: 20px !important;
  line-height: 120% !important;
  font-weight: 700 !important;
  background-color: inherit;
}

.icon-information:hover{
  color: rgba(var(--n5), 1) !important;
  background-color: inherit;
}

.icon-information svg{
  height: 24px;
}

.social-icon:hover {
  background-color: #fff;
  color: white;
}

.link-mail{
  color: #78aba0;
  font-weight: 500;
}

.remove-color:hover{
  color: inherit;
  background-color: inherit;
}

.link-mail:hover{
  background-color: inherit;
}

form input{
  height: 50px;
}

form label{
  font-size: 17px;
}

form .form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color:
#78aba0;
  outline:
0;
  box-shadow: 0 0 0 0rem rgba(13,110,253,.25);
}

.sidebar .social-icon:hover{
  border-radius:
0px;
  background-color: inherit;
  color: #78aba0;
}

.sidebar .social-icon{
  background-color: inherit;
  border: 0px;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding:
.75rem 1.25rem;
  color: inherit;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button.close {
  padding:
0;
  background-color: transparent;
  border:
0;
  -webkit-appearance:
none;
}

.close:focus, .close:hover {
  color: #000;
  text-decoration:
none;
  opacity: .75;
}

.close {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}